.ekart--search--product{
    margin: 20px auto;
    text-align: center;
}
.ekart-search-product-input{
    width: 40%;
    height: 5.5vh;
    padding: 1px 10px;
    outline: none;
    border-radius: 2px;
    background-color: #efefef;
    border:#17177f 1px solid;
}


.btn{
    padding: 5px 10px;
    border: none;
}
.btn-search{
    padding: 9.5px 40px;
    background-color: #0e0e82;
    margin-left: -5px;
    color:#9a0707;
}

.ekart-search-result-for{
    margin: 20px auto;
    padding: 10px 140px;
}
.btn-search-disabled
{
    padding: auto;
    background-color: #9d8c11;
    margin-left: -1px;
    color: #fff
   

}