<!--
<app-login></app-login>
{{title}}

<img [src]="imageUrl">


<button (click)="incease()">Increase</button>
<p>Count: {{ count }}</p>



<input [(ngModel)]="name">
<p>You typed: {{ name }}</p>





<input [(ngModel)]="input">
<br>

<button (click)="typeText()">Click to show ur text</button>
<h2>{{output}}</h2> -->

<!-- <button (click)="isVisible = !isVisible">Toggle</button>

<p *ngIf="isVisible">Now you see me 😃</p>
<p *ngIf="!isVisible">Now I am hidden 😎</p> -->

<!-- <ul>
  <li *ngFor="let fruit of fruits">{{ fruit }}</li>
</ul> -->
<!-- <h2 [ngStyle]="{ color: color }">Dynamic Color Heading</h2>
<button (click)="color = 'red'">Make Red</button> -->

<!-- <ul>
  <li  *ngFor="let fruit of fruit">{{fruit}}

  </li>
</ul> -->

<!-- <h2 [ngStyle]="{ color: color }">Dynamic color heading 2</h2>

<button (click)="color = 'yellow'">Make yellow</button>

<button (click)="isVisible = !isVisible">Toggle</button>

<p *ngIf="isVisible">Now u see me</p>
<p *ngIf="!isVisible">now u dont see me</p>

<button (click)="show = !show">show</button>
<p *ngIf="show">✔ Fruits are visible</p>
<p *ngIf="!show">now u dont see fruits</p>

<ul *ngIf="show">
  <li *ngFor="let fruit of fruit">{{ fruit }}</li>
</ul> -->

<!-- <button (click)="button = !button">toggle</button>

<p *ngIf="button">welcome to Angular</p>
<p *ngIf="!button">show message</p> -->

<!-- <button (click)="button = !button">
  {{ button ? 'Hide Message' : 'Show Message' }}
</button>
<p *ngIf="button">Welcome to Angular!</p> -->
<!-- <button  (click)="addfruit()"> Add grapes</button>
<button (click)="clearFruits()">clear fruits</button>


<button  (click)="showFruits()"> showFruits</button>
<button (click)="hideFruits()"> hideFruits</button>

<ul *ngIf="show">
  <li *ngFor="let item of fruit"> {{item}}</li>
</ul>
<input  [(ngModel)]="newFruit" placeholder="Enter new fruit name"> 
<button (click)="addnewFruit()">Add fruits</button>
<ul>
  <li *ngFor="let item of fruit; let i = index">
    {{ item }}
    <button (click)="remove(i)">❌</button>
  </li>
</ul>
   -->

<!-- {{ 'angular' | uppercase }}
<br />
{{ 'My NAME IS MANOJ' | lowercase }}

<p>Today Date: {{ today | date }}</p>
<p>Full Date: {{ today | date : 'fullDate' }}</p>
<p>Price: {{ price | currency : 'USD' : 'symbol' }}</p>
<p>Player JSON: {{ player | json }}</p>

<p>ENTER NAME:</p>
<input   [(ngModel)]='text'   placeholder="Enter your NAME" >
<p>NAME UPPERCASE:</p>
{{text | uppercase}}
<hr>

<p>ENter VAlue</p>

<input [(ngModel)]="price" type="number">
<p>VALUE IN INR:</p>
<h3>{{ price |currency:'USD':'symbol'}}</h3>
<hr>
<p>TODAY DATE IS :</p>
<ul>
  <li>
    {{todayDate | date}}
    {{ todayDate | date:'fullDate' }}</li>
  <li>{{ todayDate | date:'dd/MM/yy' }}</li>
  

</ul> -->
<app-login></app-login>
<!-- <app-top-header></app-top-header> -->
 <div id="app-top-header"></div>
<app-product-list></app-product-list>
